@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SF Pro Display", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

.slick-slide>div {
  margin: 0 15px;
  height: 100%;
}

.slick-list {  

  overflow: visible !important;
}

img {
  max-width: 100%;
}

/* animation  */
.move-right {
  animation: move-rgt 15s infinite linear;
}

@keyframes move-rgt {

  0%,
  100% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }

}

.move-left {
  animation: move-lft 10s infinite linear;
}

@keyframes move-lft {

  0%,
  100% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(35%);
  }

}

.vertical-sld .slick-track {
  display: inline-block !important; 
}
.vertical-sld .slick-list{
  height: 378px  ;
}

.vertical-sld  .slick-slide>div {
  margin: 10px 0 ;
  height: 100%;
}